/* ============================================================
   WIN98 TOKENS — déclaration centrale
   ============================================================ */

:root {
  --win-bg: #008080;
  --win-accent: #000080;
  --win-accent2: #1084d0;

  --win-silver: #c0c0c0;
  --win-dark: #808080;
  --win-darker: #404040;
  --win-light: #ffffff;
  --win-text: #000000;
  --win-title-text: #ffffff;
  --win-font: "Arial", "MS Sans Serif", sans-serif;
  --win-font-size: 11px;
}

/* ============================================================
   FOND GLOBAL html/body
   ============================================================*/
html,
body {
  background: var(--win-bg);
  min-height: 100%;
}
